In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
csv_file = "Resources/happiness_index.csv"
happiness_index_df = pd.read_csv(csv_file)
happiness_index_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [13]:
GDP_data_df = happiness_index_df[['Country name', 'Logged GDP per capita']].copy()
GDP_data_df.head()

  Country name  Logged GDP per capita
0      Finland              10.639267
1      Denmark              10.774001
2  Switzerland              10.979933
3      Iceland              10.772559
4       Norway              11.087804

In [15]:
healthy_life_df = happiness_index_df[['Country name', 'Healthy life expectancy']].copy()
healthy_life_df.head()

  Country name  Healthy life expectancy
0      Finland                71.900825
1      Denmark                72.402504
2  Switzerland                74.102448
3      Iceland                73.000000
4       Norway                73.200783